:root {
    --primary: #077b8f75;
     --secondary: #ff88007f;
    --back: #00030843;
    --action: #ff6565;
    --border-radius: 15px;
    --btn-padding: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--back);
    font-family: sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 20px;
    text-align: center;
    font-size: 35px;
    background-color: rgb(220, 215, 215);
    padding: var(--btn-padding);
    border-radius: 15px;
}

#reset {
    font-size: 12px;
    grid-column: span 2;
    cursor: pointer;
}

#reset:hover {
    color: var(--action);
}

.action {
    text-align: center;
}

#message {
    font-size: 25px;
}

#next {
    margin-top: 18px;
    padding: 10px 30px;
    background-color: rgb(220, 215, 215);
    color: black;;
    border-radius: var(--border-radius);
    visibility: hidden;
    cursor: pointer;
}

#next.active {
    visibility: visible;
}
#next:hover {
    color: var(--action);
}

.jeu {
    border-top: 1px solid black;
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 200px;
}

.button {
    display: flex;
    align-items: center;
    font-size: 45px;
    padding: var(--btn-padding);
}

.btn-joueur,
.btn-ordi {
    border-radius: 15px;
    transition: all 0.2s ease;
}

.btn-joueur {
    cursor: pointer;
    background-color: rgb(220, 215, 215);;
}

.btn-joueur:hover {
    color: var(--primary);
}

.button img {
    height: 64px;
}

.button p {
    margin-left: 20px;
}

.button:not(:last-child) {
    margin-bottom: 40px;
}

.btn-joueur.desactivated {
    background-color: var(--back);
    cursor: default;
}

.btn-joueur.desactivated:hover,
.btn-joueur.active:hover {
    color: inherit;
}

.btn-joueur.active {
    background-color: var(--primary);
}

.btn-ordi.active {
    background-color: var(--secondary);
}